#username{
width: 100%;
border-radius: 30px;
height: 15%;
font-size: 25px;
background-color: rgb(238, 238, 245);
border-color:rgb(238, 238, 245) ;
}
#username:hover{
    opacity:70%;
   border: 1px solid black;
}
#password{
width: 100%;
border-radius: 30px;
height: 15%;
font-size: 25px;
background-color: rgb(238, 238, 245);
border-color:rgb(238, 238, 245);
z-index: 3;
}
form{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    margin-left:10%;
    width:30%;
    padding-left: 50%;
    background-color: rgb(238, 238, 245);
    border-radius: 60px;
    height: 60%;
}
button{
    width: 60%;
    border-radius: 50px;
    height: 55px;
    font-size: 25px;
    color: white;
    background-color: rgb(162, 162, 199);
}
.container{
    display: flex;
    justify-content: center;
   flex-direction: column;
   gap: 15px;
}
h1{
    position: absolute;
    top: 10%;
    padding-right: 100%;
    font-size: 50px;
    width: 50%;
    font-style: italic;
}
h2{
    position: absolute;
    top: 35%;
    padding-right: 100%;
    font-size: 30px;
    width: 50%;
    font-style: normal;
}